body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #085cb1;
    color: rgb(252, 251, 251);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(243, 239, 239);
    text-decoration: none;
}

.buscador {
    margin-top: 15px;
}

.buscador input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.buscador button {
    padding: 10px;
    background: #08ac3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buscador button:hover {
    background: #0264aa;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.producto img {
    max-width: 10%;
    height: auto;
}

.producto button {
    padding: 10px;
    background: #075cb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background: #065291;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria img {
    width: calc(25% - 12px);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #095dcc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #0b5c9e;
}

footer {
    background: #0b4e92;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .producto {
        width: 100%;
    }
}